<div class="card-home">
  <% if art_class.photo.attached? %>
    <%= cl_image_tag art_class.photo.key %>
  <% else %>
    <%= image_tag 'art.jpg' %>
  <% end %>
  <div class="card-home-infos">
    <div>
      <h3><%= art_class.category %></h3>
      <h2><%= link_to art_class.title, art_class_path(art_class), class: 'text-decoration-none', title: art_class.title %></h2>
      <div class="d-flex flex-row justify-content-around my-2">
        <p><%= art_class.dates %></p>
        <p><%= art_class.location %></p>
      </div>
      <p><%= art_class.description %></p>
    </div>
    <h2 class="card-home-pricing"><%= art_class.price %></h2>
  </div>
  <%= link_to "", art_class_path(art_class), class: 'card-home-link' %>
</div>
