<%= render "banner" %>
<%= render "category_link" %>
<div class="container text-center my-4">
  <h2>Upcoming Classes</h2>
  <div class="cards mt-2 mb-5">
    <% @art_classes_samples.each do |art_class| %>
      <%= render "card_home", art_class: art_class %>
    <% end %>
  </div>
  <h2>Categories</h2>
  <div class="cards mt-2 mb-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "pottery.jpg" %>')">
      <h2><%= link_to "Pottery", art_classes_path(category: 'Pottery'), class: 'text-decoration-none' %></h2>
      <%= link_to "", art_classes_path(category: 'Pottery'), class: 'card-home-link' %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "painting.jpg" %>')">
      <h2><%= link_to "Oil Painting", art_classes_path(category: 'Oil Painting'), class: 'text-decoration-none' %></h2>
      <%= link_to "", art_classes_path(category: 'Oil Painting'), class: 'card-home-link' %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "sketching.jpg" %>')">
      <h2><%= link_to "Sketching", art_classes_path(category: 'Sketching'), class: 'text-decoration-none' %></h2>
      <%= link_to "", art_classes_path(category: 'Sketching'), class: 'card-home-link' %>
    </div>
  </div>
</div>
