<div class="card-simple">
  <%= cl_image_tag reservation.art_class.photo.key, class: "w-100" %>
  <div class="card-simple-tags">
    <span class="tag-green"><%= reservation.art_class.category %></span><span class="tag-orange"><%= reservation.art_class.location %></span>
  </div>
  <div class="card-simple-text">
    <%= cl_image_tag reservation.art_class.user.photo.key, class: "card-simple-avatar"%>
    <div class="price-tag">¥<%= reservation.art_class.price %></div>
    <p><%= reservation.art_class.display_dates %></p>
    <div>
      <h2><%= reservation.art_class.title %></h2>
      <p><%= reservation.art_class.description %></p>
      <span class="tag-green"><%= reservation.status %></span>
    </div>

    <div>
      <%= link_to "Details", art_class_path(reservation.art_class), class: "submit-btn", style: "" %>
      <% if current_user.reservations_as_teacher.include? reservation %>
        <% if reservation.pending? %>
          <%= simple_form_for reservation do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Accepted'} %>
            <%= f.submit 'Accept', class: 'btn btn-info' %>
          <% end %>
          <%= simple_form_for reservation do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Rejected'} %>
            <%= f.submit 'Reject', class: 'btn btn-light' %>
          <% end %>
        <% else %>
          <span class="tag-green"><%= reservation.status %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
