<div class="title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://marketplace.canva.com/EAFKWjY7ba8/1/0/1600w/canva-pink-abstract-watercolor-zoom-virtual-background-eWdcNlqbr_4.jpg)">
  <h1> Available classes </h1>
</div>
<%= render "pages/category_link" %>

<div class="row justify-content-center">
   <div class="col-sm-8 my-3">
    <%= form_with url: art_classes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container my-4">
  <div class="cards mt-2 mb-5">
    <% @art_classes.each do |art_class|  %>
      <%= render "pages/card_home", art_class: art_class %>
    <% end %>
  </div>
</div>
