<div class="title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://marketplace.canva.com/EAFKWjY7ba8/1/0/1600w/canva-pink-abstract-watercolor-zoom-virtual-background-eWdcNlqbr_4.jpg)">
  <%= @art_class.title.capitalize! %>
</div>
<div class= "container mt-5">
  <div class= "row">
    <div class= "col-6">
      <div class="card-simple">
        <% if @art_class.photo.attached? %>
          <%= cl_image_tag @art_class.photo.key, class: "w-100" %>
        <% else %>
          <%= image_tag 'art.jpg', class: "w-100" %>
        <% end %>
        <div class="card-simple-tags">
          <span class="tag-green"><%= @art_class.category %></span>
        </div>
        <div class="card-simple-text">
          <%= cl_image_tag @art_class.user.photo.key, class: "card-simple-avatar"%>
          <div class="price-tag">¥<%= @art_class.price %></div>
          <div class= "card-description">
            <p><%= @art_class.description %></p>
          </div>
          <nav class="bottom-navbar">
            <% if current_user != @art_class.user  %>
              <%= simple_form_for [@art_class, @reservation] do |f| %>
                <%= f.submit class: 'submit-btn' %>
              <% end %>
            <% else %>
              <%= link_to "You are the teacher of this class! See your other classes.", reservations_path %>
            <% end %>
          </nav>
        </div>
        <nav class="bottom-navbar">
          <% if current_user != @art_class.user  %>
            <%= simple_form_for [@art_class, @reservation] do |f| %>
              <%= f.submit class: 'submit-btn' %>
            <% end %>
          <% else %>
            <p> You are the teacher! </p>
          <% end %>
        </nav>
      </div>
      <div>
        <% if @art_class.reviews.any? %>
          <div class="card-product">
            <div class="card-product-infos">
              <% @art_class.reviews.each do |review| %>
                <%= review.user.name %>
                <%= review.comment %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="card-product">
            <div class="card-product-infos">
              <h5>Ooops, this teacher has no reviews yet :(</h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class= "col-6">
      <div class= "container">
        <div style="width: 100%; height: 600px;" class= "map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"</div>
        </div>
        <div class= "card-more-info">
          <div class= "location-div">
            <h5>Location</h5>
            <div class="dates-tag"><%= @art_class.location %></div>
          </div>
          <div class= "dates-div">
            <h5>Date</h5>
            <div class="dates-tag"><%= @art_class.dates %></div>
          </div>
          <div class= "teacher-div">
            <h5>Teacher:</h5>
            <p> <%= @art_class.user.name %></p>
            <div>
              <h5>About the teacher:</h5>
              <p>
                <%= @art_class.user.name %> is a seasoned artisan with a passion for creativity and a lifetime of experience in teaching the art of handcrafts. Whether it's pottery, woodworking, knitting, or jewelry making, <%= @art_class.user.name %> has mastered a wide range of skills and enjoys sharing their knowledge with others. Their workshops are known for their relaxed, inspiring atmosphere, where students of all levels feel encouraged to explore their artistic potential. Beyond teaching, <%= @art_class.user.name %> finds joy in experimenting with new techniques, blending traditional craftsmanship with modern design. Their dedication to their craft and ability to connect with people make them a cherished mentor and a true artist at heart.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
