<div class="title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://marketplace.canva.com/EAFKWjY7ba8/1/0/1600w/canva-pink-abstract-watercolor-zoom-virtual-background-eWdcNlqbr_4.jpg)">
  <h1><%= @artclass.title %></h1>
</div>
<div class= "showpage-body">
  <div class="event-description">
    <img src="https://img.activityjapan.com/wi/tokyo-ceramics-plan_thumb.jpg?202407240214&cf_origin" class="img-fluid" alt="pottery-img">
    <div class= "price-tag-navbar">
      <div class="div2"><%= @artclass.price%> <%= @artclass.category %></div>
    </div>
    <div class="text-description"><%= @artclass.description %></div>
  </div>
  <div class="event-location">
    <div class="div4"><%= @artclass.location %></div>
    <div class="div5"><%= @artclass.dates %></div>
  </div>
</div>
<nav class="bottom-navpbar">
  <form class="container-fluid justify-content-end">
    <form class="container-fluid justify-content-start">
      <%= link_to "Home", art_classes_path, class: "btn btn-primary"%>
    </form>
    <button class="btn btn-outline-success me-2" type="button">Attend</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Contact</button>
  </form>
</nav>
